html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Yeseva One', cursive; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

header {
    background-color: #FFF8F3;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    padding-top: 4px;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list-link {
    text-transform: uppercase;
}